<style type="text/css">
	.container{
		margin-top: 30px;
		color: white;
		background-color: darkslategrey;
		width: 400px;
		height: 400px;
	}
</style>
<div class="container">
	<br>
<h3>MyNewBook</h3>
<br>	
<div class="book_<%= @book.id %>">
<%= form_for([ @user , @user.books.build ], remote: true)  do |form| %>

	<div class="mb-3">
	  <%=form.label :Title , class:"form-label" %>
	  <%= form.text_field :title , class: "title_#{@book.id}" ,class:"form-control" %>
	</div>

	<div class="mb-3">
  		<%=form.label :book_pdf , class:"form-label" %>
		<%= form.file_field :book_pdf ,class:"form-control" , accept: "application/pdf"%>
	</div>

	<div class="mb-3">
  		<%=form.label :book_image , class:"form-label" %>
		<%= form.file_field :book_image ,class:"form-control", accept: "image/*"%>
	</div>
	
	<div>
		<%= form.submit class: "btn btn-success btn-sm" %> 
		 
	</div>
<% end %>
</div>
